.citySearch {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.citySearch input {
  cursor: pointer;
  font-family: var(--font-main);
}

.todayWeather {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  letter-spacing: 1px;
  line-height: 2;
  border-radius: 3vh;
  background: #ffc75f;
  opacity: 0.7;
}

body .dark {
  .todayWeather {
    background: white;
  }
}
