* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("./assets/Montserrat-Regular.ttf") format("truetype");
}

:root {
  --font-main: "Montserrat-Regular";
}

body .light {
  font-family: var(--font-main);
  .weatherPart,
  .todolistPart,
  .meditationPart {
    background: #ffc75f;
  }
  min-height: 100vh;
  color: black;
}

.containerAllPage {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

body .dark {
  font-family: var(--font-main);
  background: #080573;
  .weatherPart,
  .todolistPart,
  .meditationPart {
    background: white;
  }
  min-height: 100vh;
}
