* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body .light {
  min-height: 100vh;
  background: orange;
}

.containerAllPage {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

body .dark {
  background: blue;
  color: aliceblue;
}
